header {
    background-color: #333;
    width: 100vw;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 99vw;
    background-color: rgba(240, 248, 255, 0.637);
    color: rgb(33, 0, 56);
}

/* Updated CSS */
.navbar-header {
  order: -1;
  width: 100vw;
}


.navbar-toggler {
  order: 1;
  opacity: 100%;
  color: aliceblue;
  z-index: 9999; /* Set a high z-index value */
}


.nav-link {
    white-space: nowrap;
}
.fit-img{
    width: 10%;
    height: auto; /* Maintain aspect ratio */
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 1rem;
    width: fit-content;
}

a {
    text-decoration: none;
    color: rgb(33, 0, 56);
    font-family: 'Inconsolata', monospace;
    font-weight: 1000;
    font-size: 120%;
    transition: font-size 0.3s ease-in-out;
}

a:hover {
    font-size: 125%;
    font-family: 'Inconsolata', monospace;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../../../assets/images/IMG_4541.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
@keyframes zoomIn {
    0% {
      background-size: 100%; /* Start at the normal size */
    }
    100% {
      background-size: 105%; /* End at the larger size */
    }
  }

  .hoverable-text {
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Remove default text underline */
  }
  
  .hoverable-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out; /* Smooth transition for the width */
  }
  
  .hoverable-text:hover::after {
    width: 100%; /* Expand the width to 100% when hovered */
  }

  /* Updated CSS */
.navbar-brand {
  margin-right: auto; /* Pushes the logo to the left as much as possible */
}

/* Updated CSS */
.navbar-brand {
  margin-right: auto; /* Pushes the logo to the left as much as possible */
}

@media (max-width: 992px) {
  .navbar-collapse {
      background-color: rgba(255, 255, 255, 0.7); /* Set background color for collapsed navbar in mobile size */
      top: 10vh;
  }

  .arrow-container {
    position: relative;
    width: fit-content;
    margin-bottom: 30px; /* Add margin bottom to separate from navbar */
}

.fit-img{
  width: 20%;
  height: auto; /* Maintain aspect ratio */
}

nav{
  width: 100vw;
}
}



