<div class="container">
    <div class="row">

    <div class="col-lg-6 col-md-12 col-sm-12 bitch-text" >
        <div class="row">
        <div class="col-lg-1"></div>
            <div class="some texts col-lg-9">
                <p style="letter-spacing: 2px;font-size: 300%;">TONY's CAFE BITCH</p>
                <p style="font-size: 90%;">Lorem ipsum dolorem, have you even like  actually sat there and thought about your life for a good bit till
        you realise that you actually have no clue why ure even doing all the things ure doing, the your mom calls you to tell
        you that ur an awful human being till one day it will be enough and you finally decide to seek eternal rest...
                </p>
            </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-1"></div>
    <div class="bitch-text-link" >
    <a href="/überuns" style="text-decoration: none;">
        <div class="brecket-link"
        style="padding: 20px; padding-top: 10px; padding-bottom: 10px; background-color: rgb(0, 31, 31);color: aliceblue; border: 1px solid aliceblue;
        font-family: 'Inconsolata', monospace; font-weight: 700;text-decoration: none; font-size: larger; width: max-content;">
            ÜBER UNS
        </div>
     </a>
    </div>

    </div>
    </div>
    <!--the second big col-6 with the image-->

    <div class="col-lg-6 col-md-12 col-sm-12" style="height: 50vh; 
    background-image: url('../../../assets/images/673AD638-4EA7-4D52-95A3-E3C220181D96-Enhanced-NR.jpg');
    background-size: cover;">
    </div>

    </div>
  </div>

  <!--second thing in this first decorative thing-->

  <div class="container second">
    <div class="row">

        <!--the second big col-6 with the image-->

        <div class="col-lg-6 col-md-12 col-sm-12 big-visible" style="height: 50vh; 
        background-image: url('../../../assets/images/9AEBA4CA-D365-499E-931C-625C5908EAD3.jpg');
        background-size: cover;">

        </div>

    <div class="col-lg-6 col-sm-12 col-md-12">
        <div class="row">
        <div class="col-lg-1"></div>
            <div class="some texts col-lg-9">
                <p style="letter-spacing: 2px;font-size: 300%;">TONY's CAFE BITCH</p>
                <p class="align-left-small" >Lorem ipsum dolorem, have you even like  actually sat there and thought about your life for a good bit till
        you realise that you actually have no clue why ure even doing all the things ure doing, the your mom calls you to tell 
        you that ur an awful human being till one day it will be enough and you finally decide to seek eternal rest...
                </p>
            </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-6"></div>
    <!--the link idk man idk im lowkey not all that well idk-->
    <div class="bitch-text-link">
    <a href="/kontakt" style="text-decoration: none;">
        <div class="brecket-link"
        style="padding: 20px; padding-top: 10px; padding-bottom: 10px; background-color: rgb(0, 31, 31);color: aliceblue; border: 1px solid aliceblue;
        font-family: 'Inconsolata', monospace; font-weight: 700;text-decoration: none; font-size: larger; width: max-content;">
            KONTAKT
        </div>
     </a>
    </div>
    </div>
    </div>
    </div>

            <!--the second big col-6 with the image-->

            <div class="col-lg-6 small-visible" style="height: 50vh; 
            background-image: url('../../../assets/images/9AEBA4CA-D365-499E-931C-625C5908EAD3.jpg');
            background-size: cover;">
        
            </div>
  </div>

  <!--the quote-->

  <div class="container-fluid" >
    <p class="quote">
      "YOUR SHIT WILL BE ROCKED AND YOUR SOCKS FLOWN OFF, I SWEAR ON MY CHEESECAKE"
    </p>
    <p class = "author">-the owner (probably)</p>
  </div>


    <!-- links -->
  <app-gallery-links></app-gallery-links>

  <!--recommendation-->

  <div class="container third">
    <div class="row">
        <div class="col-lg-4 big-visible" style="background-image: url('../../../assets/images/0CED1273-4AB0-4A3E-BBD2-E349BE70D246-Enhanced-NR.jpg');
        background-size: cover; height: 50vh;" ></div>
        <div class="col-lg-4" style=" font-family: 'Inconsolata', monospace; text-align: center;
        font-weight: 600;  border-top: 1px solid rgb(0, 21, 36); border-bottom: 1px solid rgb(0, 21, 36);
        padding-top: 6vh; padding-bottom: 6vh;">
            <h1>UNSERE EMPFEHLUNG</h1>
            <p> It was 1995 behind the public Gymnasium in Sarajevo , Federation of Bosnia and Herzegowina.
                A mother and two children were hiding from the shower of bullets mercilecly piercing the city and its people day and night.
                I found them dirty and slouched over, shivering and pleading. Three gunshots, in a perfect one second interval. I had heard later that
                they burried them where they found them as a monument.
            </p>
        </div>
        <div class="col-lg-4"
        style="background-image: url('../../../assets/images/02FAA25F-1428-487F-A419-26312B7B66CE-Enhanced-NR.jpg');
        background-size: cover; height: 50vh;" ></div>
    </div>
  </div>

