<div class="container">
    <div class="row">

    <div class="col-lg-6 col-md-12 col-sm-12 bitch-text" >
        <div class="row">
        <div class="col-lg-1"></div>
            <div class="some texts col-lg-9">
                <p style="letter-spacing: 2px;font-size: 200%;">Kulinarische Vielfalt entdecken!</p>
                <p style="font-size: 90%;">Entdecken Sie unsere Köstlichkeiten! Klicken Sie hier, um unsere vielfältige Auswahl an leckeren Speisen zu erkunden. Ob Sie nach etwas Bestimmtem suchen oder sich überraschen lassen möchten – wir haben für jeden Geschmack etwas dabei. Lassen Sie sich verwöhnen und entdecken
                    Sie eine Welt voller Genüsse!
                </p>
            </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-1"></div>
    <div class="bitch-text-link" >
    <a routerLink="/speisekarte" style="text-decoration: none;">
        <div class="brecket-link"
        style="padding: 20px; padding-top: 10px; padding-bottom: 10px; background-color: rgb(0, 31, 31);color: aliceblue; border: 1px solid aliceblue;
        font-family: 'Inconsolata', monospace; font-weight: 700;text-decoration: none; font-size: larger; width: max-content;">
            SPEISEKARTE
        </div>
     </a>
    </div>

    </div>
    </div>
    <!--the second big col-6 with the image-->

    <div class="col-lg-6 col-md-12 col-sm-12" style="height: 50vh; 
    background-image: url('../../../assets/images/673AD638-4EA7-4D52-95A3-E3C220181D96-Enhanced-NR.jpg');
    background-size: cover;">
    </div>

    </div>
  </div>

  <!--second thing in this first decorative thing-->

  <div class="container second">
    <div class="row">

        <!--the second big col-6 with the image-->

        <div class="col-lg-6 col-md-12 col-sm-12 big-visible" style="height: 50vh; 
        background-image: url('../../../assets/images/9AEBA4CA-D365-499E-931C-625C5908EAD3.jpg');
        background-size: cover;">

        </div>

    <div class="col-lg-6 col-sm-12 col-md-12">
        <div class="row">
        <div class="col-lg-1"></div>
            <div class="some texts col-lg-9">
                <p style="letter-spacing: 2px;font-size: 200%; margin-top: 20px;">Ein Ort für ein unvergessliches Erlebnis!</p>
                <p class="align-left-small" >Kontaktieren Sie uns und reservieren Sie Ihren Platz! Klicken Sie hier, um mit uns in Verbindung zu treten und Ihren Tisch zu reservieren. Wir freuen uns darauf, Ihnen einen unvergesslichen Aufenthalt zu bereiten und stehen Ihnen gerne für alle Fragen und Anliegen zur Verfügung.
                </p>
            </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-7"></div>
    <div class="bitch-text-link" style="margin-left: 2.2vw;">
    <a routerLink="/kontakt" style="text-decoration: none;">
        <div class="brecket-link"
        style="padding: 20px; padding-top: 10px; padding-bottom: 10px; background-color: rgb(0, 31, 31);color: aliceblue; border: 1px solid aliceblue;
        font-family: 'Inconsolata', monospace; font-weight: 700;text-decoration: none; font-size: larger; width: max-content;">
            KONTAKT
        </div>
     </a>
    </div>
    </div>
    </div>
    </div>

            <!--the second big col-6 with the image-->

            <div class="col-lg-6 small-visible" style="height: 50vh; 
            background-image: url('../../../assets/images/9AEBA4CA-D365-499E-931C-625C5908EAD3.jpg');
            background-size: cover;">
        
            </div>
  </div>

  <!--the quote-->

  <div class="container-fluid" >
    <p class="quote">
      "Kaffee ist der Stoff, aus dem Träume gemacht sind."
    </p>
    <p class = "author">-Karen Blixen</p>
  </div>


    <!-- links -->
  <app-gallery-links></app-gallery-links>

  <!--recommendation-->

  <div class="container third">
    <div class="row">
        <div class="col-lg-4 big-visible" style="background-image: url('../../../assets/images/0CED1273-4AB0-4A3E-BBD2-E349BE70D246-Enhanced-NR.jpg');
        background-size: cover; height: 50vh;" ></div>
        <div class="col-lg-4" style=" font-family: 'Inconsolata', monospace; text-align: center;
        font-weight: 600;  border-top: 1px solid rgb(0, 21, 36); border-bottom: 1px solid rgb(0, 21, 36);
        padding-top: 6vh; padding-bottom: 6vh;">
            <h1>UNSERE EMPFEHLUNG</h1>
            <p> Genießen Sie das ultimative Wiener Frühstückserlebnis mit unserem klassischen Wiener Frühstück und einer Tasse unseres aromatischen Kaffees für nur 8,90 Euro.

            </p>
        </div>
        <div class="col-lg-4"
        style="background-image: url('../../../assets/images/02FAA25F-1428-487F-A419-26312B7B66CE-Enhanced-NR.jpg');
        background-size: cover; height: 50vh;" ></div>
    </div>
  </div>

