<!-- Speisen -->
<h1 style="letter-spacing: 2px; font-family: 'Inconsolata', monospace; font-weight: bold; font-size: 300%; margin-top: 30px; margin-bottom: 30px; text-align: center">
  Speisekarte
</h1>

<!-- Getränke -->

<body class="body container-fluid">
<div class="row">
  <div class="col-lg-6 col-sm-12 col-md-12">
<div class="column_container mx-lg-4 mx-sm-2">
  <p style="spacing: 2px;font-size: 250%; text-align: center">
    Zum Trinken
  </p>

  <!-- non-alc drinks -->

  <div class="headline_format">
    <p> Alkoholfreie Getränke
    </p>

    <div class="name_food_format">
      <p>
        Frucade/Zitrone/Tropical
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        0,35l
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €3.60
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Schmex
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        0,35l
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €3.60
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Marillo
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        0,35l
      </p>
    </div>
    <div class="price_food_format">
      <p >
        €3.60
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Apfel Gespritzt
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        0,35l
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €3.60
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Eistee Zitrone/Pfirsich
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        0,33l
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €3.20
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Coca Cola/Zero
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        0,33l
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €3.50
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Mineral Prickelnd
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        0,33l
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €2.80
      </p>
    </div>

    <div class="name_format">
      <p>
        Red Bull
      </p>
    </div>
    <div class="price_format">
      <p>
        €3.90
      </p>
    </div>

    <div class="name_format">
      <p>
        Soda Himbeer/Zitrone
      </p>
    </div>
    <div class="price_format">
      <p>
        €2.80
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Tonic
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        0,20l
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €3.30
      </p>
    </div>
  </div>


  <!-- Bier -->

  <div class="headline_format">
    <p>
      Bier
    </p>

    <div class="name_food_format">
      <p>
        Zwettler
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        0,33l
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €3.80
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Zwettler Radler
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        0,33l
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €3.50
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Schneider
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        0,33l
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €3.90
      </p>
    </div>
  </div>


  <!-- Wein -->

  <div class="headline_format">
    <p>
      Wein
    </p>

    <div class="name_format">
      <p>
        Aperol Spritzer
      </p>
    </div>
    <div class="price_format">
      <p>
        €4.10
      </p>
    </div>

    <div class="name_format">
      <p>
        1/8 Weißwein
      </p>
    </div>
    <div class="price_format">
      <p>
        €2.50
      </p>
    </div>

    <div class="name_format">
      <p>
        1/8 Rotwein
      </p>
    </div>
    <div class="price_format">
      <p>
        €2.50
      </p>
    </div>

    <div class="name_format">
      <p>
        Spritzer Weiß
      </p>
    </div>
    <div class="price_format">
      <p>
        €3.10
      </p>
    </div>

    <div class="name_format">
      <p>
        Spritzer Rot
      </p>
    </div>
    <div class="price_format">
      <p>
        €3.10
      </p>
    </div>
  </div>

  <!-- Kaffee/Tee  -->

  <div class="headline_format">
    <p>
      Kaffee und Tee
    </p>

    <div class="name_format">
      <p>
        Cappuccino
      </p>
    </div>
    <div class="price_format">
      <p>
        €3.90
      </p>
    </div>

    <div class="name_format">
      <p>
        Latte Macchiato
      </p>
    </div>
    <div class="price_format">
      <p>
        €4.20
      </p>
    </div>

    <div class="name_format">
      <p>
        Verlängerter
      </p>
    </div>
    <div class="price_format">
      <p>
        €3.50
      </p>
    </div>

    <div class="name_format">
      <p>
        Wiener Melange
      </p>
    </div>
    <div class="price_format">
      <p>
        €3.80
      </p>
    </div>

    <div class="name_format">
      <p>
        Espresso
      </p>
    </div>
    <div class="price_format">
      <p>
        €2.90
      </p>
    </div>

    <div class="name_format">
      <p>
        Kleiner Brauner
      </p>
    </div>
    <div class="price_format">
      <p>
        €2.90
      </p>
    </div>

    <div class="name_format">
      <p>
        Türkischer Kaffee
      </p>
    </div>
    <div class="price_format">
      <p>
        €3.90
      </p>
    </div>

    <div class="name_format">
      <p>
        Osmanischer Kaffee
      </p>
    </div>
    <div class="price_format">
      <p>
        €4.50
      </p>
    </div>

    <div class="name_format">
      <p>
        Heiße Schokolade
      </p>
    </div>
    <div class="price_format">
      <p>
        €3.30
      </p>
    </div>

    <div class="name_format">
      <p>
        Früchte Tee
      </p>
    </div>
    <div class="price_format">
      <p>
        €3.30
      </p>
    </div>

    <div class="name_format">
      <p>
        Schwarzer Tee
      </p>
    </div>
    <div class="price_format">
      <p>
        €3.30
      </p>
    </div>

    <div class="name_format">
      <p>
        Kamillen Tee
      </p>
    </div>
    <div class="price_format">
      <p>
        €3.30
      </p>
    </div>
  </div>
</div>
</div>

<!-- Speisen -->
<div class="col-lg-6 col-md-12 col-sm-12">
<div class="column_container mx-lg-4 mx-sm-2">
  <p style="spacing: 2px;font-size: 250%; text-align: center">
    Zum Essen
  </p>

  <!-- Speisen  -->

  <div class="headline_format">
    <p >
      Speisen
    </p>

    <div class="name_food_format">
      <p >
        Pogaca ungefüllt/Käse/Oliven
      </p>
    </div>
    <div class="amount_food_format">
      <p >
        Stk.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €5.50
      </p>
    </div>

    <div class="name_food_format">
      <p >
        Acma ungefüllt/Käse/Oliven
      </p>
    </div>
    <div class="amount_food_format">
      <p >
        Stk.
      </p>
    </div>
    <div class="price_food_format">
      <p >
        €2.50
      </p>
    </div>

    <div class="name_food_format">
      <p >
        Börek Käse/Spinat
      </p>
    </div>
    <div class="amount_food_format">
      <p >
        Stk.
      </p>
    </div>
    <div class="price_food_format">
      <p >
        €3.90
      </p>
    </div>

    <div class="name_food_format">
      <p >
        Rosenbörek Käse/Spinat
      </p>
    </div>
    <div class="amount_food_format">
      <p >
        Stk.
      </p>
    </div>
    <div class="price_food_format">
      <p >
        €3.50
      </p>
    </div>

    <div class="name_food_format">
      <p >
        Stangenbörek Käse/Spinat
      </p>
    </div>
    <div class="amount_food_format">
      <p >
        Stk.
      </p>
    </div>
    <div class="price_food_format">
      <p >
        €3.50
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Su Börek
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        Stk.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €4.50
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Simit (Sesamring)
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        Stk.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €1.90
      </p>
    </div>

  </div>

  <!-- Dessert/Kuchen -->

  <div class="headline_format">
    <p>
      Dessert/Kuchen
    </p>

    <div class="name_food_format">
      <p>
        Trilece
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        Port.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €4.60
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Karotten Kuchen
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        Port.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €4.60
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Red Velvet
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        Port.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €4.60
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Diverse Cheesecakes
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        Port.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €4.80
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Profiterol
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        Stk.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €4.80
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Tiramisu
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        Port.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €4.60
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Diverse Cups
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        Stk.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €4.90
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Tony's Pistazien Torte
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        Port.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €4.80
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Waldfrüchte Torte
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        Port.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €4.60
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Diverse Kekse
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        100g
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €4.50
      </p>
    </div>

    <div class="name_food_format">
      <p>
        Baklava
      </p>
    </div>
    <div class="amount_food_format">
      <p>
        2 Stk.
      </p>
    </div>
    <div class="price_food_format">
      <p>
        €4.50
      </p>
    </div>

  </div>

  <!-- Frühstück -->

  <div class="headline_format">
    <p>
      Frühstück
    </p>

    <div class="name_format">
      <p>
        Kleines Frühstück
      </p>
    </div>
    <div class="price_format">
      <p>
        €6.90
      </p>
    </div>
    <div class="name_food_format_small">
      <p>
        (Butter, Marmelade, Käse, Gebäck, Heißgetränk)
      </p>
    </div>

    <div class="name_format">
      <p>
        Wiener Frühstück
      </p>
    </div>
    <div class="price_format">
      <p>
        €8.90
      </p>
    </div>
    <div class="name_food_format_small">
      <p>
        (Butter, Marmelade, Salat, Cherrytomate, Gurken, Wurst, Käse, Gebäck, Orangensaft, Heißgetränk)
      </p>
    </div>

    <div class="name_format">
      <p>
        Tony's Frühstück
      </p>
    </div>
    <div class="price_format">
      <p>
        €13.90
      </p>
    </div>
    <div class="name_food_format_small">
      <p>
        (Butter, Marmelade, versch. Käsesorten, Wurst, Salami, Oliven, Honig, Salat, Cherrytomaten, Gurken,
        Stangenbörek, gekochtes Ei, Gebäck, Orangensaft, Heißgetränk)
      </p>
    </div>
  </div>
  </div>
</div>
</div>
</body>
