<!-- Speisen -->

<h1 style="letter-spacing: 2px; font-family: 'Inconsolata', monospace; font-weight: bold; font-size: 300%; text-align: center">Speisekarte</h1>

<!-- Getränke -->

<div class ="column" style="height: 80vh; font-family: 'Inconsolata', monospace; font-weight: 600; margin-top: 15vh;
        border: 1px solid black;">
  <p style="letter-spacing: 2px;font-size: 250%; text-align: center">Zum Trinken</p>

  <!-- Kaffee  -->

  <div style="height: 40vh; font-family: 'Inconsolata', monospace; text-align: center; font-weight: 600">
    <p style="letter-spacing: 2px; font-size: 200%">Kaffee</p>
    <div class ="column" style="height: 40vh; font-family: 'Inconsolata', monospace; font-weight: 600">
      <p style="letter-spacing: 2px; font-size: 150%">Cappuccino</p>
    </div>
    <div class ="column" style="height: 40vh; font-family: 'Inconsolata', monospace; font-weight: 600">
      <p style="letter-spacing: 2px; font-size: 150%">€3.90</p>
    </div>
  </div>

  <!-- non-alc drinks -->

  <div style="height: 40vh; font-family: 'Inconsolata', monospace; text-align: center; font-weight: 600">
    <p style="letter-spacing: 2px; font-size: 200%">Alkoholfreie Getränke</p>
    <div class ="column" style="height: 40vh; font-family: 'Inconsolata', monospace; font-weight: 600">
      <p style="letter-spacing: 2px; font-size: 150%">Cola</p>
    </div>
    <div class ="column" style="height: 40vh; font-family: 'Inconsolata', monospace; font-weight: 600">
      <p style="letter-spacing: 2px; font-size: 150%">€3.80</p>
    </div>
  </div>

</div>

<!-- Speisen -->

<div class ="column" style="height: 80vh; font-family: 'Inconsolata', monospace; font-weight: 600; margin-top: 15vh;
        border: 1px solid black;">
  <p style="letter-spacing: 2px;font-size: 250%; text-align: center">Zum Essen</p>

  <!-- Speisen  -->

  <div style="height: 40vh; font-family: 'Inconsolata', monospace; text-align: center; font-weight: 600">
    <p style="letter-spacing: 2px; font-size: 200%">Speisen</p>
    <div class ="column" style="height: 40vh; font-family: 'Inconsolata', monospace; font-weight: 600">
      <p style="letter-spacing: 2px; font-size: 150%">Pogaca</p>
    </div>
    <div class ="column" style="height: 40vh; font-family: 'Inconsolata', monospace; font-weight: 600">
      <p style="letter-spacing: 2px; font-size: 150%">€5.50</p>
    </div>
  </div>

  <!-- Dessert/Kuchen -->

  <div style="height: 40vh; font-family: 'Inconsolata', monospace; text-align: center; font-weight: 600">
    <p style="letter-spacing: 2px; font-size: 200%">Dessert/Kuchen</p>
    <div class ="column" style="height: 40vh; font-family: 'Inconsolata', monospace; font-weight: 600">
      <p style="letter-spacing: 2px; font-size: 150%">Trilece</p>
    </div>
    <div class ="column" style="height: 40vh; font-family: 'Inconsolata', monospace; font-weight: 600">
      <p style="letter-spacing: 2px; font-size: 150%">€4.60</p>
    </div>
  </div>

</div>

<!-- <div style="width: 100% ; height: 80vh;"></div>
<p>menu works!</p> -->
