<!-- Speisen -->

<h1 style="letter-spacing: 2px; font-family: 'Inconsolata', monospace; font-weight: bold; font-size: 300%; margin-top: 10vh; text-align: center">
  Speisekarte
</h1>

<!-- Getränke -->

<div class ="column_container">
  <p style="letter-spacing: 2px;font-size: 250%; text-align: center">
    Zum Trinken
  </p>

  <!-- non-alc drinks -->

  <div class="headline_format">
    <p style="letter-spacing: 2px; font-size: 200%">
      Alkoholfreie Getränke
    </p>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Frucade/Zitrone/Tropical
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        0,35l
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.60
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Schmex
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        0,35l
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.60
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Marillo
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        0,35l
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.60
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Apfel Gespritzt
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        0,35l
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.60
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Eistee Zitrone/Pfirsich
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        0,33l
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.20
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Coca Cola/Zero
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        0,33l
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.50
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Mineral Prickelnd
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        0,33l
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €2.80
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Red Bull
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.90
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Soda Himbeer/Zitrone
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €2.80
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Tonic
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        0,20l
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.30
      </p>
    </div>

  </div>

  <!-- Bier -->

  <div class ="headline_format">
    <p style="letter-spacing: 2px; font-size: 200%">
      Bier
    </p>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Zwettler
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        0,33l
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.80
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Zwettler Radler
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        0,33l
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.50
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Schneider
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        0,33l
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.90
      </p>
    </div>
  </div>


  <!-- Wein -->

  <div class="headline_format">
    <p style="letter-spacing: 2px; font-size: 200%">
      Wein
    </p>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Aperol Spritzer
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.10
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        1/8 Weißwein
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €2.50
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        1/8 Rotwein
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €2.50
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Spritzer Weiß
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.10
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Spritzer Rot
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.10
      </p>
    </div>
  </div>


  <!-- Kaffee/Tee  -->

  <div class ="headline_format">
    <p style="letter-spacing: 2px; font-size: 200%">
      Kaffee und Tee
    </p>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Cappuccino
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.90
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Latte Macchiato
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.20
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Verlängerter
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.50
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Wiener Melange
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.80
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Espresso
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €2.90
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Kleiner Brauner
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €2.90
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Türkischer Kaffee
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.90
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Osmanischer Kaffee
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.50
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Heiße Schokolade
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.30
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Früchte Tee
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.30
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Schwarzer Tee
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.30
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Kamillen Tee
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.30
      </p>
    </div>
  </div>
</div>

<!-- Speisen -->

<div class ="column_container">
  <p style="letter-spacing: 2px;font-size: 250%; text-align: center">
    Zum Essen
  </p>

  <!-- Speisen  -->

  <div class="headline_format">
    <p style="letter-spacing: 2px; font-size: 200%">
      Speisen
    </p>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Pogaca ungefüllt/Käse/Oliven <!--formatierung überarbeiten!!-->
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Stk.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €5.50
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Acma ungefüllt/Käse/Oliven
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Stk.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €2.50
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Börek Käse/Spinat
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Stk.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.90
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Rosenbörek Käse/Spinat
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Stk.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.50
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Stangenbörek Käse/Spinat
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Stk.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €3.50
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Su Börek
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Stk.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.50
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Simit (Sesamring)
      </p>
    </div>
    <div class ="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Stk.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €1.90
      </p>
    </div>

  </div>

  <!-- Dessert/Kuchen -->

  <div class="headline_format">
    <p style="letter-spacing: 2px; font-size: 200%; margin-top: 10vh">
      Dessert/Kuchen
    </p>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Trilece
      </p>
    </div>
    <div class="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Port.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.60
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Karotten Kuchen
      </p>
    </div>
    <div class="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Port.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.60
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Red Velvet
      </p>
    </div>
    <div class="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Port.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.60
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Diverse Cheesecakes
      </p>
    </div>
    <div class="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Port.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.80
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Profiterol
      </p>
    </div>
    <div class="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Stk.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.80
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Tiramisu
      </p>
    </div>
    <div class="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Port.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.60
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Diverse Cups
      </p>
    </div>
    <div class="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Stk.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.90
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Tony's Pistazien Torte
      </p>
    </div>
    <div class="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Port.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.80
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Waldfrüchte Torte
      </p>
    </div>
    <div class="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Port.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.60
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Diverse Kekse
      </p>
    </div>
    <div class="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        100g
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.50
      </p>
    </div>

    <div class ="name_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Baklava
      </p>
    </div>
    <div class="amount_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        2 Stk.
      </p>
    </div>
    <div class ="price_food_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €4.50
      </p>
    </div>

  </div>

  <!-- Frühstück -->

  <div class="headline_format">
    <p style="letter-spacing: 2px; font-size: 200%; margin-top: 10vh">
      Frühstück
    </p>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Kleines Frühstück
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €6.90
      </p>
    </div>
    <div style="float: left; width: 75%; padding: 10px; height: 4vh; font-family: 'Inconsolata', monospace; text-align: left; font-weight: 600; margin-left: 2.5%;">
      <p style="letter-spacing: 2px; font-size: 100%">
        (Butter, Marmelade, Käse, Gebäck, Heißgetränk)
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Wiener Frühstück
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €8.90
      </p>
    </div>
    <div style="float: left; width: 75%; padding: 10px; height: 6vh; font-family: 'Inconsolata', monospace; text-align: left; font-weight: 600; margin-left: 2.5%;">
      <p style="letter-spacing: 2px; font-size: 100%">
        (Butter, Marmelade, Salat, Cherrytomate, Gurken, Wurst, Käse, Gebäck, Orangensaft, Heißgetränk)
      </p>
    </div>

    <div class ="name_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        Tony's Frühstück
      </p>
    </div>
    <div class ="price_format">
      <p style="letter-spacing: 2px; font-size: 150%">
        €13.90
      </p>
    </div>
    <div style="float: left; width: 75%; padding: 10px; height: 10vh; font-family: 'Inconsolata', monospace; text-align: left; font-weight: 600; margin-left: 2.5%;">
      <p style="letter-spacing: 2px; font-size: 100%">
        (Butter, Marmelade, versch. Käsesorten, Wurst, Salami, Oliven, Honig, Salat, Cherrytomaten, Gurken, Stangenbörek, gekochtes Ei, Gebäck, Orangensaft, Heißgetränk)
      </p>
    </div>

  </div>

</div>

<!-- <div style="width: 100% ; height: 80vh;"></div>
<p>menu works!</p> -->
