<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="email.name" name ="name" placeholder="Enter name">

        <label for="email">Email Adresse</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email.email" name="email" placeholder="Enter email">

        <label for="nachricht">Nachricht</label>
        <textarea class="form-control" id="nachricht" [(ngModel)]="email.message" name ="message" rows="3"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
