
.close {
    font-size: 1.5rem;
  }
  
  .item img {
    opacity: 0.9;
    cursor: pointer;
    margin: 2rem;
    padding: 2px;
    border: 1px solid black;
    max-width: 100%;
  }

  .first{
    height: 20rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 600; 
    margin-top: 20vh;
    margin-bottom: 10vh;
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(to top, black 50%, transparent 50%) 1;
    padding-bottom: 4.3vh;


  }

  .second{
    height: 30vh;
    margin-bottom: 30vh;
    margin-top: 10vh;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(to bottom, black 50%, transparent 50%) 1;
  }




.item img:hover {
    opacity: 1;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.4);
  }

  .fade{
    transform: translateY(0);
    opacity: 1.0;
    transition: all 1s;
  }

  .photo-gallery {
  color:#313437;
  background-color:#fff;
}

.photo-gallery p {
  color:#7d8285;
  font-family: 'Lora';
  font-size: 90%;
}

.photo-gallery .photos {
  padding-bottom:10px;
}

.photo-gallery .item {
  padding-bottom:10px;
}

  @media (max-width: 992px) {

    .first{
      height: 50vh;
    }

    .item img{
      max-width: 80vw;
    }

    .second{
      margin-top: 10vh;
      height: 50vh;
    }
  }