<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
</head>


        <div class="container first">
          <div class="row">
          <div class="col-lg-1"></div>
          <div class="some texts col-lg-7">
            <p style="letter-spacing: 2px;font-size: 300%;">Willkommen in unserer Cafégalerie: Eine Reise durch Genuss und Gemütlichkeit!
            </p>
            <p style="font-size: 90%;">Entdecken Sie unsere Welt in Bildern! Tauchen Sie ein in die Atmosphäre unseres Cafés und lassen Sie sich von unseren einladenden Räumlichkeiten, dem köstlichen Kaffee und den verlockenden Leckereien verzaubern. Erleben Sie Genussmomente und gemütliche Stunden in unserem Café. Willkommen in unserer kleinen Oase der Entspannung und des Genusses!

            </p>
          </div>
          </div>
        </div>

    <!-- the actual gallery imagine-->

    <div class="photo-gallery">
        <div class="container-fluid" style="width: 95vw;padding: 0px; margin: 0px;">
            <div class="row photos">



                <div class="col-sm-12 col-md-4 col-lg-4 item"><a href="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg" data-lightbox="photos"><img src="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg"></a></div>
                <div class="col-sm-12 col-md-4 col-lg-4 item"><a href="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg" data-lightbox="photos"><img src="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg"></a></div>
                <div class="col-sm-12 col-md-4 col-lg-4 item"><a href="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg" data-lightbox="photos"><img src="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg"></a></div>
                <div class="col-sm-12 col-md-4 col-lg-4 item"><a href="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg" data-lightbox="photos"><img src="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg"></a></div>
                <div class="col-sm-12 col-md-4 col-lg-4 item"><a href="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg" data-lightbox="photos"><img src="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg"></a></div>
                <div class="col-sm-12 col-md-4 col-lg-4 item"><a href="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg" data-lightbox="photos"><img src="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg"></a></div>
                <div class="col-sm-12 col-md-4 col-lg-4 item"><a href="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg" data-lightbox="photos"><img src="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg"></a></div>
                <div class="col-sm-12 col-md-4 col-lg-4 item"><a href="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg" data-lightbox="photos"><img src="../../../assets/images/3A065C3E-8EBD-46B3-B0F8-987E02DFC6AA-Enhanced-NR.jpg"></a></div>
              </div>
        </div>
    </div>


    
    
      <div class="container second">
      <div style="width: 100%; height: max-content; border-bottom: 1px solid black; margin: 0px; padding-bottom: 4.3vh;">
          <div class="row" style="width: 100%; height: 100%;">
          <div class="col-lg-1"></div>
          <div class="some texts col-lg-7">
            <p style="letter-spacing: 2px;font-size: 300%;">Erleben Sie unser Café live: Persönlicher Genuss und herzliche Gastfreundschaft erwarten Sie!
            </p>
            <p style="font-size: 90%;">Sie haben einen Vorgeschmack auf unsere Atmosphäre bekommen, aber nichts geht über das persönliche Erlebnis. Besuchen Sie uns und entdecken Sie unsere Galerie in Echtzeit. Erleben Sie die Wärme der Umgebung, den Duft von frisch gebrühten Kaffee und die Freude an jedem Detail. Wir freuen uns darauf, Sie persönlich begrüßen zu dürfen und Ihnen eine unvergessliche Zeit bei uns zu bereiten!
            </p>
          </div>
          </div>
        </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

