<!-- Remove the container if you want to extend the Footer to full width. -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Pixelify+Sans&display=swap" rel="stylesheet">
<div class="container-fluid">

    <footer >
      <div class="container p-4" >
        <div class="row" style="border-bottom: none;">
          <div class="col-lg-4 col-md-12 col-sm-12 mb-4" style="border-bottom: none;">
            <h5 class="mb-3" style="font-weight: 800;">Kontakt</h5>
            <p>
              Hier können Sie uns finden:<br> <br>
              Adresse: <a href="https://www.google.com/maps/search/?api=1&query=48.39395386803803%2C15.577857720236125&query_place_id=ChIJFdHYpOmFckcReitAOneMwOg"> Rathauspatz 3, 3512 Mautern an der Donau</a> <br>
                Telefon: <a href="tel:+4367764865353">+43 677 64865353 </a> <br>
                E-Mail: <a href = "mailto: office@cafe-tonys.at"> office&#64;cafe-tonys.at </a><br> <br>
                <a href = "https://www.instagram.com/tonys.cafe3512?igsh=Zzhxa2oyZDNocWRh"><i class="fa-brands fa-instagram"></i></a>
                <a href = "https://www.facebook.com/people/Tonys-Caf%C3%A9/61551396421010/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.tiktok.com/@tonys_cafe?_t=8jk1os2JKfQ&_r=1"><i class="fa-brands fa-tiktok"></i></a>

              
            </p>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12 mb-4" style="border-bottom: none;">
            <h5 class="mb-3" style="font-weight: 800;">Links</h5>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <a href="/speisekarte">Speisekarte</a>
              </li>
              <li class="mb-1">
                <a href="/überuns">Über uns</a>
              </li>
              <li class="mb-1">
                <a href="/datenschutz">Datenschutz</a>
              </li>
              <li>
                <a href="/impressum" >Impressum</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <h5 class="mb-1" style="font-weight: 800;">Öffnungszeiten</h5>
            <table class="table" style="border-color: whitesmoke; color:whitesmoke; margin-top: 2vh;">
              <tbody>
                <tr style="color: whitesmoke;">
                  <td>Montag:</td>
                  <td>8:00 - 19:00</td>
                </tr>
                <tr>
                  <td>Dienstag:</td>
                  <td>Ruhetag</td>
                </tr>
                <tr>
                  <td>Mittwoch & Donnerstag:</td>
                  <td>8:00 - 19:00</td>
                </tr>
                <tr>
                  <td>Freitag & Samstag:</td>
                  <td>8:00 - 20:00</td>
                </tr>
                <tr>
                  <td>Sonntag:</td>
                  <td>8:00 - 19:00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </footer>
</div>
  <!-- End of .container -->