<!-- Remove the container if you want to extend the Footer to full width. -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Pixelify+Sans&display=swap" rel="stylesheet">
<div class="container-fluid" style="height: 100vh; width: 100%;">
<div class="container my-5">

    <footer style="background-color: #eee6d3bf;">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4">
            <h5 class="mb-3" style="font-weight: 800;">Socials</h5>
            <p>
              In case you wanna talk to us (dont), here are some socials :D <br> <br>
              Adresse: somewhereinniederösterreich straße 167 <br>
              Telefon: +43 696 9420 <br>
              E-mail: asseaters&#64;gmail.com <br> <br>
              <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-twitter"></i><i class="fa-brands fa-tiktok"></i>

              
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-3" style="font-weight: 800;">Links</h5>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <a href="#">Menu</a>
              </li>
              <li class="mb-1">
                <a href="#!">Über uns</a>
              </li>
              <li class="mb-1">
                <a href="#!" >Datenschutz</a>
              </li>
              <li>
                <a href="#!" >Community Guidelines</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-1" style="font-weight: 800;">Öffnungszeiten</h5>
            <table class="table" style="border-color: #666; margin-top: 2vh;">
              <tbody>
                <tr>
                  <td>Mon - Fri:</td>
                  <td>8am - 8:10am</td>
                </tr>
                <tr>
                  <td>Sat - Sun:</td>
                  <td>1am - 2am</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
  <!-- End of .container -->