<div class = "container">
<h1 class="adsimple-122735894">Impressum</h1>
<p class="adsimple-122735894">Angaben gemäß Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz.</p>
<p class="adsimple-122735894">Tony‘s Café<br />Bülent Celik<br />Rathausplatz 3 <br /> 3512 Mautern an der Donau, <br />Österreich</p>
<p class="adsimple-122735894">
    <strong>Unternehmensgegenstand:</strong> Kaffeehaus </p>
<p class="adsimple-122735894">
    <strong>Tel.:</strong> +43 677 6486 5353<br />
    <strong>Fax:</strong> 01234/56789-0<br />
    <strong>E-Mail:</strong> <a href="mailto:office@cafe-tonys.at"> office&#64;cafe-tonys.at</a>
</p>
<p class="adsimple-122735894">
    <strong>Mitglied bei:</strong> WKO<br />
    <strong>Berufsrecht:</strong> Gewerbeordnung: www.ris.bka.gv.at</p>
<p class="adsimple-122735894">
    <strong>Aufsichtsbehörde/Gewerbebehörde:</strong> Bezirkshauptmannschaft Krems an der Donau<br />
    <strong>Berufsbezeichnung:</strong> Gastronomie <br />
    <strong>Verleihungsstaat:</strong> Österreich</p>

    <p class="adsimple-122735894">
        <strong>Design und technische Umsetzung: </strong><br />

        <a href="https://www.linkedin.com/in/maida-horozovic-353166258/">Maida Horozovic</a>,
        <a href="https://www.linkedin.com/in/theo-kretz/">Theo Kretz</a> und
        <a href="https://www.linkedin.com/in/josip-branimir-loncar-707aa9192/">Josip Branimir Loncar</a>
    </p>
</div>